<!DOCTYPE html>
<html lang="pt">
    <!--======= Header =========-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editora Saramago</title>
        <!--==== PLUGINS DE CSS =====-->
        <!-- Quando queremos adicionar uma ligação onde o ficheiro está numa pasta, devemos retroceder na procura com ../../ para localizar o ficheiro. -->
    <link rel="stylesheet" href="../../public/css/main.css" />
    
</head>

<body>
    
    <!--==== Nave =====-->
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="screen.php">Inicio </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="us.php">Editora</a>
                <!-- <a class="nav-link" href="#">Quem Somos</a>
                <a class="nav-link" href="#">Nossa Visão</a> -->
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="services.php">Serviços</a>
                <!-- <a class="nav-link" href="#">Publicação</a>
                <a class="nav-link" href="#">Impressão</a> -->
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="ourBooks.php">Livros pulicados </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="contact.php">Contacto </a>
            </li>
        </ul>
    </nav>
        <!--==== Container =====-->

        <div class="container">
            
            <div class="row">